#body{
     padding: 0;
     margin: 0;
     
}

.from-style{
	width: 400px;
	height: 700px;
	background:#FF9800;
	padding: 100px;
	margin: 100px auto;
}

.from-login label {
	display:block;
	width: 100%;

}
 

 .register-link{

 padding: 12px;
 background:#B47FD8;
 display: inline-block;
 margin: 10px;
 }

 .from-login img{
 	width: 150px;
 	height: 150px;
   border-radius: 100%;
 }



